aws_region       = "ap-south-1"
project_name     = "voice-journal"
environment      = "dev"
backend_cors_origins = "*"
memory_server_generation_model = "gpt-4o-mini"
memory_server_embedding_model = "text-embedding-3-large"
memory_server_vector_dimensions = 3072
